@page
@{
    /*Justin Taylor*/
}
@model lab_1_part_3.Pages.Skills.AddSkillModel
@{
}
<form asp-page="AddSkill">
    <input type="text" asp-for="NewSkill.SkillType" placeholder="Skill Type" />
    <input type="text" asp-for="NewSkill.SkillDescription" placeholder="Skill Description" />
    <br />
    <button type="submit" style="color: white; background-color:#34135B">Add Skill -> </button>
    <button class="btn btn-outline-light" asp-page="AddSkill" asp-page-handler="PopulateHandler" formnovalidate style="color: black;">Populate</button>

    <a asp-page="Index" class="btn btn-dark">Cancel</a>

</form>