@page
@{
    /*Justin Taylor*/
}
@model lab_1_part_3.Pages.Skills.AddSkillModel
@{
}
<form asp-page="AddSkill">
    <input type="text" asp-for="NewSkill.SkillType" placeholder="Skill Type" />
    <input type="text" asp-for="NewSkill.SkillDescription" placeholder="Skill Description" />
    <br />
    <button type="submit" style="color: white; background-color:#AC9CD8">Add Skill -> </button>
    <button class="btn btn-outline-secondary" asp-page="AddSkill" asp-page-handler="PopulateHandler" formnovalidate style="color: white; background-color:#AC9CD8">Populate</button>

    <a asp-page="Index" class="btn btn-secondary" style="color: white; background-color:#AC9CD8">Cancel</a>

</form>