@page
@model lab_1_part_3.Pages.FAQModel
@{
        ViewData["Title"] = "Frequently Asked Questions (FAQ)";
}
<h1><b>@ViewData["Title"]</b><a asp-page="/Index" style="float: right;" class="btn btn-dark" justify-item="center">Return</a></h1>


<h4>What is the Madison Connect Hub?  </h4>
<p>  It is a system where JMU students and faculty can come together to create projects and build passionate teams who work towards similar goals.   </p>
<h4>Who is Madison Connect Hub For?    </h4>
<p> At the moment, the only users that are allowed to use the Madison Connect Hub are users that have James Madison University affiliated emails.  
    Students would use their dukes.jmu.edu email. Faculty, Staff and affiliates would use their jmu.edu emails. In the future we envision an expansion to alumni,
    the local Harrisonburg community and other university campuses.     </p>
<h4>Where do I begin?   </h4>
<p>  Start with signing up! Click on the sign-up page and fill in our information to join the Madison Connect Hub community. Once you have signed up or are a returning 
    user, you can login and start navigating through the website.     </p>
<h4>What is a Personality Type?    </h4>
<p> You will notice on your profile that you have the option to add your Meyers Briggs Personality Type. This will help other users understand who you are and how you work
    in a group. To learn more about your personality type click edit profile and you will have the option to take the quiz from there.     </p>
 <h4> How do I browse projects/ How do I join a project?  </h4>
<p>On the navigation bar, there is a tab for projects. After clicking projects, different projects will appear along with a search bar to search 
    for projects and a button to see recommended projects once you have added skills to your profile. </p>
<h4>How do I add my video introduction to my profile?  </h4>
<p>You will first need to create a video with any video editor that you prefer and then upload that video on YouTube. 
    On your Madison Connect Hub profile go to edit profile and add the link to the textbox labeled Video Introduction Link. </p>
<h4>How do I browse other user profiles?  </h4>
<p>On the navigation bar, you will see another tab for profiles. After clicking profiles,
    user’s cards will appear where you can see links to their video introduction and LinkedIn profile. You will also see what projects they are a part of.  </p>
<h4>How do I connect with other users?  </h4>
<p>When you open another user’s profile, you will see their email and their availability, if they filled it out.
    Currently, you can use their email to contact them. But we’d like to add messaging capabilities soon. </p>

 
