@page
@model lab_1_part_3.Pages.CreateHashLoginModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            color: white;
        }

        svg {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .container {
            display: inline-block;
            position: absolute;
            width: auto;
            padding-bottom: 100%;
            vertical-align: middle;
            overflow: hidden;
            top: 0;
            left: 0;
            display: block;
            margin: 0px auto;
            margin-top: 200px;
        }

        .split {
            height: 100%;
            width: 52.4%;
            position: fixed;
            z-index: 1;
            top: 0;
            overflow-x: hidden;
            padding-top: 20px;
            box-shadow: 12px 0 15px -4px #95909D, -12px 0 15px -4px #95909D;
        }

        .left {
            left: 0;
            background-color: #E5DBF4;
            color: #3E1C66;
            display: block;
            margin: 0px auto;
            padding-left: 40px;
        }

        .right {
            right: 0;
            background-color: #FFFFFF;
            color: #3E1C66;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            display: block;
            margin: 0px auto;
        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

            .centered img {
                width: auto;
                border-radius: 50%;
            }
        
        h1 {
            font-size: 45px;
        }

        h3 {
            text-align: left;
        }

        h4 {
            font-weight: 100;
            text-align: left;
        }

        h5 {
            font-size: 18px;
            font-weight: 200;
        }

        .form-control {
            border-radius: 10px;
        }

        img {
            filter: drop-shadow(5px 5px 5px #6B6867);
        }
        
        
    </style>
</head>
<body>

    <div class="split left">
        <a href="/Index" style="background-color:#E5DBF4;border-color:#E5DBF4" class="btn btn-primary">
            <img src="/Images/logo1.PNG" alt="logo" height="175">
        </a>
        <div class="centered">
            <h3 style="text-align: left; font-style: italic;"> Welcome to</h3>
            <h1 style="text-shadow: 2px 2px 8px #95909D;"><font color="#3E1C66">Madison Connect</font><font color="#E7FAB2"> Hub</font>
            </h1>
            <h4 style="text-align: center; font-weight: 100;">Move big ideas forward.</h4>
            <br />
            <br />
            <br />
            <br />
            <p style=" color: black">Already have an account?</p>
            <a asp-page="DBLogin" class="btn btn-primary" style="color: #000AFF; background-color: #E5DBF4; border-color: #E5DBF4"> Log in</a>
            @{
                if (HttpContext.Session.GetString("username") != null)
                {
                                                                                            <p class="text-success">@ViewData["LoginMessage"]</p>
                }
                else
                {
                                                                                            <p class="text-danger">@ViewData["LoginMessage"]</p>
                }
            }
        </div>
    </div>

    <div class="split right">
        <div class="centered">
            <h4 style="text-align: center">Create a personal account</h4>
            <form asp-page="CreateHashLogin">
                <label style="text-align: left">Please enter the following information to set up your account and information.</label>
                <br />
                <br />
                <input asp-for="Username" class="form-control" placeholder="Username *" />
                <input asp-for="Password" class="form-control" type="password" placeholder="Password *" />
                <input asp-for="NewUser.FirstName" class="form-control" placeholder="First Name *" />
                <input asp-for="NewUser.LastName" class="form-control" placeholder="Last Name *" />
                <input asp-for="NewUser.Email" class="form-control" placeholder="JMU Email Address *" />
                <input asp-for="NewUser.PhoneNumber" class="form-control" placeholder="Phone Number *" />
                <br />
                <label>Select Affiliation:</label>
                <br />
                <select name="NewUser.FacultyAssociation" >
                    <option value ="Faculty">Faculty</option>
                    <option value ="Student">Student</option>
                </select>
                <br/>
                @*<br />*@


                <br />
                <input type="submit" class="btn btn-secondary" style=" color: white; background-color: #AC9CD8" value="Sign Up"></input>
            </form>
        </div>
        <svg viewBox="0 0 350 350"
             preserveAspectRatio="xMinYMin meet">

            <path d="M0, 100 C150, 200 350,
                0 500, 100 L500, 00 L0, 0 Z"
                  style="stroke:none; fill:#E7FAB2;">
            </path>
        </svg>
    </div>

</body>
</html>




<br />
<a class="btn btn-outline-success" style="color: white; background-color:#AC9CD8" asp-page="CreateHashLogin">Create New User</a>
@{
    if (HttpContext.Session.GetString("username") != null)
    {
    <p class="text-success">@ViewData["LoginMessage"]</p>
    }
    else
    {
    <p class="text-danger">@ViewData["LoginMessage"]</p>
    }
}