@page
@model lab_1_part_3.Pages.CreateHashLoginModel
@{
}

<form asp-page="CreateHashLogin">
    <label>Enter New Username:</label>
    <input asp-for="Username" class="form-control" placeholder="Enter Username" />
    <br />
    <label>Enter New User's Password:</label>
    <input asp-for="Password" class="form-control" type="password" />
    <br />
    <label>Enter First Name:</label>
    <input type="text" asp-for="NewUser.FirstName" placeholder="First Name" />
    <br />
    <label>Enter Last Name:</label>
    <input type="text" asp-for="NewUser.LastName" placeholder="Last Name" />
    <br />
    <label>Enter Email:</label>
    <input type="text" asp-for="NewUser.Email" placeholder="Email" />
    <br />
    <label>Enter User Type:</label>
    <input type="text" asp-for="NewUser.UserType" placeholder="Faculty or Professional" />
    <br />
    <label>Enter Phone Number:</label>
    <input type="text" asp-for="NewUser.PhoneNumber" placeholder="Phone Number" />
    <br />
    <label>Enter Professional Email if Applicable:</label>
    <input type="text" asp-for="NewUser.ProfessionalEmail" placeholder="Professional Email" />
    <br />
    <label>Enter Professional Company if Applicable:</label>
    <input type="text" asp-for="NewUser.ProfessionalCompany" placeholder="Professional Company" />
    <br />
    <label>Enter Faculty Association if Applicable:</label>
    <input type="text" asp-for="NewUser.FacultyAssociation" placeholder="Faculty Association" width="100" />
    <br />
    <input type="submit" class="btn btn-primary" />
    <a asp-page="DBLogin" class="btn btn-secondary">Cancel</a>
</form>
@{
    if (ViewData["UserCreate"] != null)
    {
        <p class="text-success">@ViewData["UserCreate"]</p>
    }

}
