@page
@{/*Justin Taylor*/}
@using Pages.DBClasses
@using System.Data.SqlClient
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @{
        string Username = HttpContext.Session.GetString("username");
        SqlDataReader userReader = DBUserClass.FirstNameReader(Username);
        string firstName = " ";
        while (userReader.Read()){
            firstName += userReader["FirstName"].ToString();
        }

}
    <h1 class="display-4">Welcome Back, @firstName!</h1>
    <p>To access all available pages please use the nav bar above</p>
    <br />
    @{
    
        if (HttpContext.Session.GetString("username") != null)
        {
            <p>User @HttpContext.Session.GetString("username") is logged in!</p>
            <b />
            <p>Our mission is to create a collaborative platform for students to find and share ideas. It creates transparency into the project ideas and make it easier for teams to form with the right expertise to move big ideas forward.</p>
            <a class="btn btn-outline-success" style="color: white; background-color:#AC9CD8" asp-page="DBLogin" asp-route-logout="true">Logout</a>
            
        }



        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <div class="card">
            <img src="~/Images/Chris-O-Image-705x705.png" alt="John" style="width:50%" height="75%">
            <h1>Chris O'brien</h1>
            <p class="title">CEO & Founder</p>
            <p>Virginia Tech</p>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <p><button>Contact</button></p>
        </div>
    }
    

</div>
