@page
@{/*Justin Taylor*/}
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To access all available pages please use the nav bar above</p>
    <br />
    @{
    
        if (HttpContext.Session.GetString("username") != null)
        {
            <p>User @HttpContext.Session.GetString("username") is logged in!</p>
            <b />
            <p>Our mission is to create a collaborative platform for students to find and share ideas. It creates transparency into the project ideas and make it easier for teams to form with the right expertise to move big ideas forward.</p>
            <a class="btn btn-outline-success" style="color: white; background-color:#AC9CD8" asp-page="DBLogin" asp-route-logout="true">Logout</a>
            
        }

    }
    

</div>
