@page
@{
    /*Justin Taylor*/
}
@using Pages.DBClasses
@using System.Data.SqlClient
@model IndexModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
            align-items: center;
        }

        body {
            align-items: center;
            font-family: "IBM Plex Sans";
            padding: 0;
        }

        .column {
            float: left;
            width: 30%;
            padding-top: 10px;
            padding-bottom: 10px;
            align-content: center;
        }

        .row {
            margin: 5 -5px;
        }

            .row:after {
                content: "";
                display: table;
                clear: both;
            }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2);
            text-align: center;
            background-color: #ffffff;
            height: auto;
        }

        .button {
            border-radius: 15px;
        }

        .pic {
            padding: 0;
        }

        .mission {
            background-color: #3E1C66;
            font-color: #3E1C66;
            text-align: right;
        }

    </style>
</head>
<body>
    @{
        ViewData["Title"] = "Home page";
    }

    <div class="MCHub">
        <img class="pic" style="padding: 0;" src="~/Images/landingpage.png" alt="landpagegrouppic">
    </div>

    <div class="Mission">
        <h3>Our Mission</h3>
        <p> Create a collaborative platform for students to find and share ideas. It creates transparency into the project ideas and make it easier for teams to frorm with the right expertise to move big ideas forward.</p>
    </div>

    <div class="text-center">
        @{
            string Username = HttpContext.Session.GetString("username");
            SqlDataReader userReader = DBUserClass.FirstNameReader(Username);
            string firstName = " ";
            while (userReader.Read())
            {
                firstName += userReader["FirstName"].ToString();
            }

        }
        @{
            if (HttpContext.Session.GetString("username") != null)
            {
                <h1 class="display-4">Welcome back, @firstName!</h1>
            }
            else
            {
                <h1 class="display-4">Welcome to Madison Connect Hub!</h1>
            }
        }

        @*<p>To access all available pages, please use the nav bar above.</p>*@
        @{


            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            <div class="row">
                <div class="column">
                    <div class="card">
                        <img src="~/Images/one.jpg" alt="John" style="width:100%" height="75%">
                        @* <input type="submit" class="button" style=" color: white; background-color: #AC9CD8; border-color:#AC9CD8" value="Request to join"></input>*@
                        <h1>Codeathon</h1>
                        <p>Our mission is to clean up code</p>
                        @*
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>*@
                        <p><button style="color: #E5DBF4">Contact Project Owner</button></p>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img src="~/Images/two.jpg" alt="pic" style="width:100%" height="75%">
                        <h1>Marketing Mania</h1>
                        <p>Revamp JMU Marketing</p>
                        <p><button style="color: #E5DBF4">Contact Project Owner</button></p>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img src="~/Images/three.jpg" alt="John" style="width:100%" height="75%">
                        <h1>BRCC Revamp</h1>
                        <p>Implement systems for BRCC</p>
                        <p><button style="color: #E5DBF4">Contact Project Owner</button></p>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img src="~/Images/four.jpg" alt="John" style="width:100%" height="75%">
                        <h1>COB Web Design</h1>
                        <p>Our goal is to develop a new website for COB</p>
                        <p><button style="color: #E5DBF4">Contact Project Owner</button></p>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img src="~/Images/six.jpg" alt="John" style="width:100%" height="75%">
                        <h1>Walk & Clean Movement</h1>
                        <p>Coming together for the environment</p>
                        <p><button style="color: #E5DBF4">Contact Project Owner</button></p>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img src="~/Images/seven.jpg" alt="windmill" style="width:100%" height="75%">
                        <h1>Air Sustainability</h1>
                        <p>Promote air sustainability on campus<p>
                        <p><button style="color: #E5DBF4">Contact Project Owner</button></p>
                    </div>
                </div>
            </div>

        }


    </div>
</body>

</html>