@page
@model lab_1_part_3.Pages.LoginPageModel
@{
}
<form asp-action="BasicLogin">
    <input asp-for="Username" type="input" placeholder="Username" />
    <br />
    <input asp-for="Password" type="password" />
    <br />
    <input type="submit" class="btn btn-primary" />
</form>

@{
    if (ViewData["ErrorMessage"] != null)
    {
        <p class="text-danger">@ViewData["ErrorMessage"].ToString()</p>
    }
}

