@page
@model lab_1_part_3.Pages.Project.AddDesiredSkillsModel
@{
}

<h1>Add Desired Skills for this Project</h1> <a asp-page="/Project/Index" asp-route-team="1" style="float:right; color: black; background-color: #DEFAB2;" class="btn btn-primary"> Finish </a> <br />
<table style="text-align:center;" class="table table-bordered table-striped table-hover table-responsive">
    <br />
    <thead>
        <tr>
            <th>SkillType</th>



        </tr>
    </thead>
    <tbody>
        @{


            foreach (var sk in Model.UserSkillList)
            {
                            <tr>

                                <td>@sk.SkillType</td>



                                <td><a asp-page="AddDesiredSkills" class="btn btn-primary" asp-route-skillid="@sk.SkillID" style="color: white; background-color:#AC9CD8"> Add </a></td>



                            </tr>

            }
        }

    </tbody>
</table>

